<table>
  <% @wines.each do |wine| %>
    <tr>
      <td><%= link_to wine.name, wine_path(wine) %></td>
      <td><%= button_to 'Edit', edit_wine_path(wine), method: 'get'%></td>
      <td><%= button_to 'Remove', wine_path(wine), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New Wine", new_wine_path %>
